* {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  appearance: none;
  background-color: transparent;
}

:root {
  color-scheme: light dark;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-active), var(--dark-active));
  min-width: 375px;

  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;

  --light-bg: #F4F7FB;
  --light-color: #4779FF;
  --light-active: #000;
  --light-input-bg: #fff;
  --light-border: #ECF1FB;
  --light-border2: #D8D8D8;
  --light-border3: #F1F3FA;
  --light-placeholder: #ACB0B9;
  --light-placeholder-focus: rgba(71, 121, 255, 0.35);
  --light-error: #FF474E;
  --light-copy-text: #fff;
  --light-copy-focus: #fff;
  --light-copied: #58D673;
  --light-subtext: #ACB0B9;

  --dark-bg: #202224;
  --dark-color: #4779FF;
  --dark-active: #fff;
  --dark-input-bg: #121212;
  --dark-border: #4e4f53;
  --dark-border2: #4e4f53;
  --dark-border3: #4f4f52;
  --dark-placeholder: #ACB0B9;
  --dark-placeholder-focus: rgba(71, 121, 255, 0.35);
  --dark-error: #FF474E;
  --dark-copy-text: #fff;
  --dark-copy-focus: #000;
  --dark-copied: #58D673;
  --dark-subtext: #ACB0B9;
}

.wrapper {
  width: 1040px;
  padding: 0px 20px;
  margin: 0 auto;
}

@media(max-width: 1040px) {
  .wrapper {
    width: 100%
  }
}

main {
  padding-top: 80px;
}

a,
a:visited {
  cursor: pointer;
  color: light-dark(var(--light-color), var(--dark-color));
  text-decoration: none;
  border-bottom: 1px solid transparent;
  position: relative;
}

a:active,
a:hover {
  border-bottom: 2px solid light-dark(var(--light-color), var(--dark-color));
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100px;
  margin-bottom: 50px;
}

input {
  background: transparent;
  color: light-dark(var(--light-active), var(--dark-active));
  caret-color: light-dark(var(--light-color), var(--dark-color));
}

input::placeholder {
  color: light-dark(var(--light-placeholder), var(--dark-placeholder));
}

input:focus::placeholder {
  color: light-dark(var(--light-placeholder-focus), var(--dark-placeholder-focus));
}

.link-input-wrapper {
  display: flex;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  background-color: light-dark(var(--light-input-bg), var(--dark-input-bg));
  border: 1px solid light-dark(var(--light-border), var(--dark-border));
  margin-bottom: 15px;
}

.link-input-wrapper input {
  flex: 1;
  font-size: 2rem;
  padding: 0 30px;
}

.cut-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 140px;
  height: 100%;
  font-weight: 700;
  font-size: 2rem;
  padding-left: 30px;
  border-left: 1px dashed light-dark(var(--light-border2), var(--dark-border2));;
  background-image: url(./assets/cut_gray.svg);
  background-repeat: no-repeat;
  background-position: 86px center;
  background-size: 26px;
  cursor: pointer;
  color: light-dark(var(--light-color), var(--dark-color));
  user-select: none;
}

.cut-button:focus, .cut-button:hover {
  background-image: url(./assets/cut_blue.svg);
}

.cut-button:active {
  color: light-dark(var(--light-active), var(--dark-active));
}

.cut-button:before,
.cut-button:after {
  position: absolute;
  content: " ";
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-top: 30px solid;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: -12px;
}

.cut-button:before {
  z-index: 1;
  border-top-color: light-dark(var(--light-border), var(--dark-border));
  top: 0px;
}

.cut-button:after {
  z-index: 2;
  border-top-color:light-dark(var(--light-bg), var(--dark-bg));
  top: -4px;
}

.cut-button .loader {
  display: none;
  font-size: 8px;
  top: -15px;
}

.link-input-wrapper:hover,
.link-input-wrapper.focused {
  box-shadow: 0 0 0px 3px light-dark(var(--light-color), var(--dark-color));
}

.link-input-wrapper:hover .cut-button:before,
.link-input-wrapper.focused .cut-button:before {
  border-top-color: light-dark(var(--light-color), var(--dark-color));
  top: -2px;
}

.link-input-wrapper:hover .cut-button:after,
.link-input-wrapper.focused .cut-button:after {
  top: -9px;
}

.link-input-wrapper:hover .cut-button,
.link-input-wrapper.focused .cut-button {
  background-image: url(./assets/cut_blue.svg);
}

.custom-tag-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: light-dark(var(--light-input-bg), var(--dark-input-bg));
  border: 1px solid light-dark(var(--light-border), var(--dark-border));
  margin-bottom: 15px;
  padding: 0 30px;
}

.custom-tag-wrapper strong {
  color: light-dark(var(--light-color), var(--dark-color));
}

.custom-tag-wrapper input {
  flex: 1;
  padding-left: 1px;
}

.captcha {
  width: 100%;
  height: 65px; /* cf widget */
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 55px;
}

.results-wrapper {
  width: 100%;
}

.results-list {
  list-style: none;
  width: 100%;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 70px;
  width: 100%;
  height: 85px;
  border: 1px solid light-dark(var(--light-border), var(--dark-border));
  border-radius: 8px;
  background-image: url(./assets/cut_gray.svg);
  background-repeat: no-repeat;
  background-position: 30px center;
  background-size: 26px;
  background-color: light-dark(var(--light-input-bg), var(--dark-input-bg));
  margin-bottom: 5px;
}

.result-item.result-error {
  color: light-dark(var(--light-error), var(--dark-error));
  background-image: url(./assets/cut_red.svg);
  animation: result-error-glow 1s ease-in-out;
}

@keyframes result-error-glow {
  0% { outline: 1px solid light-dark(var(--light-error), var(--dark-error)); }
  100% { outline-color: transparent; }
}

.result-item:last-child {
  margin-bottom: 40px;
}

.original-url,
.copy-button {
  padding: 0px 20px;
  height: 38px;
  line-height: 39px;
  border-radius: 19px;
  font-weight: 700;
  border: 1px solid light-dark(var(--light-border3), var(--dark-border3));
}

.original-url {
  font-size: 16px;
  color: light-dark(var(--light-active), var(--dark-active));
  overflow: hidden;
}

.copy-button {
  font-size: 14px;
  background-color: light-dark(var(--light-color), var(--dark-color));
  color: light-dark(var(--light-copy-text), var(--dark-copy-text));
  cursor: pointer;
  user-select: none;
}

.copy-button:hover {
  color: light-dark(var(--light-copy-focus), var(--dark-copy-focus));
  background-color: light-dark(var(--light-active), var(--dark-active));
}

.copy-button.copied {
  background-color: light-dark(var(--light-copied), var(--dark-copied));
}

body.in-progress .cut-button {
  padding: 0;
  justify-content: center;
  background-image: none !important;
}

body.in-progress .cut-button span {
  display: none;
}

body.in-progress .cut-button .loader {
  display: block;
}

.about, .build-info {
  color: light-dark(var(--light-subtext), var(--dark-subtext));
  text-align: center;
  margin-bottom: 40px;
}

.about a, .build-info a {
  color: light-dark(var(--light-subtext), var(--dark-subtext));
  border: none;
  text-decoration: underline;
}

.about a:hover, .build-info a:hover {
  color: light-dark(var(--light-color), var(--dark-color));
}

.donation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.qr-code {
  height: 80%;
  aspect-ratio: 1/1;
  background-image: url(./assets/qr_loading.png);
  background-size: cover;
  font-size: 0;
}

@media(max-width: 600px) {
  main {
    padding-top: 30px;
  }

  .logo {
    margin-bottom: 30px;
  }

  .link-input-wrapper {
    height: 150px;
    flex-direction: column;
  }

  .link-input-wrapper input {
    padding: 0 10px;
  }

  .link-input-wrapper input::placeholder {
    text-align: center;
  }

  .link-input-wrapper .cut-button {
    width: 100%;
    height: 75px;
    border: none;
    border-top: 1px dashed light-dark(var(--light-border2), var(--dark-border2));;
    justify-content: center;
    background-position: calc(50% - -35px);
    padding-left: 0;
  }

  .cut-button:before,
  .cut-button:after {
    display: none;
  }

  .cut-button span {
    margin-left: -20px;
  }

  .captcha {
    align-items: center;
  }

  .about {
    margin-bottom: 15px;
  }

  .result-item {
    height: 300px;
    justify-content: space-between;
    flex-direction: column;
    padding: 25px 10px;
    background-image: none;
    margin-bottom: 10px;
  }

  .qr-code {
    height: 50%;
  }

  .result-item.result-error {
    height: auto;
    padding: 20px 0;
  }
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: light-dark(var(--light-color), var(--dark-color));
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
